{% extends 'base.html' %}
{% block conteudo %}
<div class="container mt-5"  >
    <div class="jumbotron text-center">
        <h1 class="display-4">{{titulo}}</h1>
        <p class="lead">Bem vindo ao Gestor de Produtos</p>
        <p class="lead">Somos uma empresa dedicada a oferecer soluções inovadoras para nossos clientes, com um compromisso sério com a qualidade e o atendimento personalizado.</p>
        <p class="lead">Explore nosso site e descubra mais sobre os nossos serviços e como podemos ajudar o seu negócio a crescer.</p>
        <hr>
    </div>
</div>
{% endblock %}